build/
cmake-build-*/

graph/
venv/
datasets/
auxiliary_data/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
Makefile

*.o
*.lo
*.la
*.a
*.lib
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

*~
.*.swp
.*.swo
*.swo
*.swp

.vscode/
.cache/

.idea/

.rider/

*.autosave
*.pro.user
*.pro.user.*

*.log

bin/

.DS_Store

.vs/
